.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%; /* Full width to cover the screen */
    height: 100vh; /* Full height to cover the screen */
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .login-box {
    background-color: #f3e8ff; /* 淡紫色 */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #4a90e2;
    color: white;
    border: none;
    cursor: pointer;
  }
  