.outer-container {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  box-sizing: border-box;
}


.login-box {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1800px;
  height: 80vh;
  max-height: 700px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
  color: black;
}


.login-left {
  flex: 1;
  /* background-color: #f6efff; */
  background-color: #bd9ff0;
  /* padding: 60px 40px; */
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 0;
}


.login-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #333;
  max-width: 100%;


  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}


.login-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-size: 15px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-button:hover {
  background-color: #f1f1f1;
}

.login-left h4{
  color: black;
  font-size: 1.2rem;
}

.login-left p{
  font-size: 1.1rem;
}

.login-left p,
.login-left h3,
.login-left h4{
  flex-shrink: 1;
  margin: 0.5rem;
}


.logo-icon{
  max-width: 45%;
  flex-shrink: 1;
}

.google-icon {
  width: 20px;
  height: 20px;
}


.login-right {
  flex: 1;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 768px) {
  .login-box {
    flex-direction: column;
    width: 95vw;
    height: auto;
    max-height: none;
  }

  .login-left,
  .login-right {
    flex: none;
    width: 100%;
    height: auto;
  }

  .login-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .login-title {
    font-size: 18px;
  }
}

@media (max-width: 425px){
  .login-icon{
    max-width: 40%;
  }

  .login-left{
    padding: 1rem;
  }

  .login-left h4,
  .login-left h3,
  .login-left p{
    font-size: 1rem;
  }
  
}