.profile-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    font-family: 'Segoe UI', Roboto, sans-serif;
}


.profile-box {
    background-color: #f6efff;
    padding: 40px;
    border-radius: 16px;
    width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    text-align: center;
}


.profile-title {
    font-size: 24px;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 20px;
}


.profile-email {
    font-size: 16px;
    color: #4b5563;
    margin-bottom: 30px;
}


.logout-button {
    padding: 10px 20px;
    font-size: 15px;
    background-color: #000000;
    color: rgb(234, 217, 217);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.logout-button:hover {
    background-color: #5b21b6;
}